/** @format */
html {
	height: 100%;
}
body {
	background-color: #ccd9e2;
}

.header-container {
	display: flex;
	width: 90%;
	margin: auto;
	overflow: hidden;
	min-height: 70px;
	/* background-color: #fca3b9; */
	justify-content: space-between;
	align-items: center;
}
.logo {
	padding-top: 20px;
	width: 10%;
	height: 30px;
	margin-left: 20px;
	text-align: center;
	border: #18cba1 1px solid;
	border-radius: 10%;
	align-items: center;
}
.logo p {
	margin-bottom: 20px;
}

nav {
	min-height: 50px;

	margin-left: 50px;
}

nav ul {
	display: flex;
	align-items: center;
	margin: 0;
	list-style-type: none;
}
li {
	padding: 20px;
	text-decoration: none;
}
li a {
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
}
